:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #fe4d2d;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__grow {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}