:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #fe4d2d;
  --border-color: #dbdbdb;
  --navbar-height: 34px;
  --header-height: 120px;
  --header-with-search: calc(var(--header-height) - var(--navbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__grow {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* Modal Layout */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  /* width: 300px;
  height: 300px; */
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  z-index: 1;
  animation: growth linear 0.2s;
}

/* Button size */
.btn {
  min-width: 142px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
  color: var(--text-color);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

.btn.btn-normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
  height: 30px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  color: var(--text-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}
